

.licence__list {
  display: flex;
  flex-direction: column;
}

.licence__list_addition-text {
  color: #777;
  font-size: 12px;
  margin-top: 5px;

}

.text-margin {
  margin-bottom: 10px;

}

.text-decoration-font {
  font-family: BebasNeue-Regular;
}

.licence-container:hover {
  background: #E5F2F5;
  border: 1px solid lightsteelblue;
}

.licence-amount-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.licence-button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.licence-total-amount-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  font-family: BebasNeue-Regular;
}

.licence-selected-plan-container {
  display: flex;
  justify-content: center;
}

.licence {
  background-color: #EAEAEA;
  border: 5px solid #BEBEBE;
  padding: 20px;
}

.licence-amount-container__option-select {
  padding-top: 20px;
}

.option-select-text {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 700;
}

.Button {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
}

.Button__standart {
  margin:2px 0;
  font-size: 9px;
  cursor: pointer;
  color: white;
  background: green;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}

.licence-total-text {
  color: #549CAC;
  font-weight: 700
}

.licence-selected-plan-text {
  padding-bottom: 30px;
  color: #549CAC;
}

.border {
  background: #777777;
  height: 1px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

.licence-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid transparent;
}


.licence-container__input {
  margin-right: 10px;
  margin-left: -10px;
}

.little-text {
  position: absolute;
  font-size: 12px;
}

.license-selected-value {
  padding-right: 10px;
}
